
[submodule "realsense-ros2-docker"]
	path = realsense-ros2-docker
	url = git@github.com:Tristan9497/realsense-ros2-docker.git
[submodule "jetson-inference"]
	path = jetson-inference
	url = git@github.com:Tristan9497/jetson-inference.git
[submodule "docker-volume/ros_ws/src/tf_transformations"]
	path = docker-volume/ros_ws/src/tf_transformations
	url = git@github.com:DLu/tf_transformations.git
[submodule "jetson-containers"]
	path = jetson-containers
	url = git@github.com:Tristan9497/jetson-containers.git
[submodule "ros1_ws/src/CoHAN_simulation"]
	path = ros1_ws/src/CoHAN_simulation
	url = git@github.com:JonathanESchmidt/CoHAN_simulation.git
[submodule "ros1_ws/src/CoHAN_Planner"]
	path = ros1_ws/src/CoHAN_Planner
	url = https://github.com/sphanit/CoHAN_Planner
[submodule "ros2_ws/src/multi_person_tracker_interfaces"]
	path = ros2_ws/src/multi_person_tracker_interfaces
	url = git@github.com:Tristan9497/multi_person_tracker_interfaces.git
[submodule "docker-volume/ros_ws/src/multi_person_tracker_interfaces"]
	path = docker-volume/ros_ws/src/multi_person_tracker_interfaces
	url = git@github.com:Tristan9497/multi_person_tracker_interfaces.git
